@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@layer components {
  .placeholder-sora::placeholder {
    @apply font-sora font-semibold text-[2rem] text-neutrals600;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#service-slider {
    mask-image: linear-gradient(to right, transparent 0%, white 100px, white calc(100% - 100px), transparent 100%);
  }

  @media (max-width: 640px) {
    #service-slider {
      mask-image: linear-gradient(to right, transparent 5%, white 50px, white calc(100% - 50px), transparent 100%);
      scroll-snap-type: x mandatory;
    }
    .snap-center {
      scroll-snap-align: center;
    }
  }


/* Custom styles for Flowbite datepicker */

.datepicker-picker {
  border: 1px solid rgb(209 213 219);
  box-shadow: 0px 0px 0px 0px ;
  font-family: "Inter", sans-serif;
  
  
}



.datepicker-picker .datepicker-cell.selected,
.datepicker-picker .datepicker-cell.selected:hover {
    background-color: rgb(255 37 1) !important; /* Tailwind's red-500 */
    color: white !important;
}

.datepicker-picker .datepicker-cell.today:not(.selected) {
    border-color: rgb(255 37 1)!important; /* Tailwind's red-500 */

}

.datepicker-picker .datepicker-cell.today.selected {
    background-color: rgb(255 37 1) !important; /* Tailwind's red-500 */

}

/* width */
::-webkit-scrollbar {
  width: 4px;
  transition-duration: 200ms !important;
  
}



/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

  

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211 211 211) !important;
  border-radius: 6px;
  transition-duration: 200ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136) !important;
  
  
}

